
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
body {
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	font-family: "brandongrotesque";
	/*    font-family: "Helvetica","Arial",sans-serif;*/
  background: url('slike/pocetna2.jpg');
   background-position: center; 
  background-size: cover;
}
a{
	color:#4caf50;
}

h2 {
    font-size: 45px;
    line-height: 48px;
}
h1, h2 {
text-rendering: optimizelegibility;
	font-family:"Helvetica","Arial",sans-serif;
	font-size: 50px;
    
    font-weight: 400;
}



.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.mdl-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.mdl-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}
.mdl-layout__header-row .mdl-navigation__link {
    line-height: 80px;
    padding: 0 16px;
}

.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: rgb(255,255,255);
    line-height: 80px;
    padding: 0 24px;
}
.mdl-navigation__link {
    color: #424242;
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: .87;
}
.mdl-layout__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 115px;
    max-height: 1000px;
    z-index: 3;
    background-color: #9e9e9e;
    color: rgb(255,255,255);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: max-height,box-shadow;
}

.mdl-layout__header-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 115px;
    margin: 0;
    padding: 0 40px 0 80px;
}
html, body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.mdl-layout-spacer{
	-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
	.mdl-textfield textarea.mdl-textfield__input {
    display: block;
}
.mdl-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}
.mdl-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}
textarea {
    resize: vertical;
	width: 100%;
}
.mdl-textfield__label{bottom:0;
color:rgba(0,0,0,.26);
font-size:16px;left:0;right:0;
pointer-events:none;
position:absolute;
display:block;
top:24px;
width:100%;
overflow:hidden;
white-space:nowrap;
text-align:left}
.logo{
	
	height: 115px;
width:250px;
	
}
